<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<settings>
		<!-- Page size for FetchXML queries -->
		<add key="PageSize" value="5000" />
		<!-- Log level - can be: Error, Warning, Info, Processing, Verbose, Debug -->
		<add key="LogLevel" value="Debug" />
	</settings>

	<!-- Query to retrieve work order service tasks with unprocessed questionnaires -->
	<query name="UnprocessedQuestionnaires">
		<fetch version='1.0' output-format='xml-platform' mapping='logical' distinct='true' top='100'>
			<entity name='msdyn_workorderservicetask'>
				<attribute name='msdyn_workorderservicetaskid' />
				<attribute name='msdyn_name' />
				<attribute name='statecode' />
				<order attribute="createdon" descending="true" />
				<filter type='and'>
					<condition attribute='ovs_questionnaireresponse' operator='not-null' />
					<condition attribute='ovs_questionnairedefinition' operator='not-null' />
					<condition attribute='statuscode' operator='eq' value='918640002' />
					<condition attribute='ovs_questionnaire' operator='not-null' />
					<!-- <condition attribute='createdon' operator='lt' value='2023-05-25T19:36:41Z' /> -->
				</filter>
				<!-- 
        UNCOMMENT TO EXCLUDE ANY WORK ORDER SERVICE TASKS THAT ALREADY HAVE AT LEAST ONE ASSOCIATED QUESTION RESPONSE:
        <link-entity name="ts_questionresponse" from="ts_msdyn_workorderservicetask" to="msdyn_workorderservicetaskid" link-type="outer">
          <filter type="and">
            <condition attribute="ts_questionresponseid" operator="null" />
          </filter>
        </link-entity>
        -->
			</entity>
		</fetch>
	</query>

	<!-- Query to retrieve all active work order service tasks -->
	<query name="AllActiveWOSTs">
		<fetch version='1.0' output-format='xml-platform' mapping='logical' distinct='false'>
			<entity name='msdyn_workorderservicetask'>
				<attribute name='msdyn_workorderservicetaskid' />
				<attribute name='msdyn_name' />
				<attribute name='statecode' />
				<order attribute="createdon" descending="true" />
				<filter type='and'>
					<condition attribute='statecode' operator='eq' value='0' />
				</filter>
			</entity>
		</fetch>
	</query>

	<!-- Query to retrieve all question responses for a specific work order service task -->
	<query name="QuestionResponsesByWOST">
		<fetch version='1.0' output-format='xml-platform' mapping='logical' distinct='false'>
			<entity name='ts_questionresponse'>
				<attribute name='ts_questionresponseid' />
				<attribute name='ts_name' />
				<attribute name='ts_question' />
				<attribute name='ts_response' />
				<order attribute="createdon" descending="true" />
				<filter type='and'>
					<condition attribute='ts_msdyn_workorderservicetask' operator='eq' value='{0}' />
				</filter>
			</entity>
		</fetch>
	</query>

	<!-- Query to retrieve a specific work order service task with unprocessed questionnaire (for testing) -->
	<!-- Manually specify the WOST ID(s) you want to target in the condition below -->
	<query name="TargetedWOST">
		<fetch version='1.0' output-format='xml-platform' mapping='logical' distinct='true'>
			<entity name='msdyn_workorderservicetask'>
				<attribute name='msdyn_workorderservicetaskid' />
				<attribute name='msdyn_name' />
				<attribute name='statecode' />
				<order attribute="createdon" descending="false" />
				<filter type='and'>
					<condition attribute='ovs_questionnaireresponse' operator='not-null' />
					<condition attribute='ovs_questionnairedefinition' operator='not-null' />
					<condition attribute='ovs_questionnaire' operator='not-null' />
					<!-- Replace the GUID below with your target WOST ID -->
					<condition attribute="msdyn_workorderservicetaskid" operator="eq" value="b56cfc0f-b761-f011-bec1-002248b09c68" />
				</filter>
				<!-- 
        UNCOMMENT TO EXCLUDE ANY WORK ORDER SERVICE TASKS THAT ALREADY HAVE AT LEAST ONE ASSOCIATED QUESTION RESPONSE:
        <link-entity name="ts_questionresponse" from="ts_msdyn_workorderservicetask" to="msdyn_workorderservicetaskid" link-type="outer">
          <filter type="and">
            <condition attribute="ts_questionresponseid" operator="null" />
          </filter>
        </link-entity>
        -->
			</entity>
		</fetch>
	</query>

</appSettings>
